<mat-toolbar>
  <a routerLink="/">
    My Application
  </a>
  <ul class="nav">
    <li>
      <a mat-button routerLink="create"  routerLinkActive="activeMenu">New Post</a>
    </li>

    <li>
      <a mat-button target="_blank" [href]="udemyLink">{{udemyLinkName}}</a>
    </li>

    @if(!isAuthenticated) {
    <li>
      <a mat-button routerLink="login" routerLinkActive="activeMenu">Login</a>
    </li>

    <li>
      <a mat-button routerLink="signup" routerLinkActive="activeMenu">Signup</a>
    </li>
    }

    @if(isAuthenticated) {
      <li>
        <a mat-button (click)="logout()">Logout</a>
      </li>
    }

    @if(userData && userData.name != '') {
    <li>
      <a mat-button>[ {{userData.name}} ]</a>
    </li>
    }

  </ul>
</mat-toolbar>
